In [1]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv('inmuebles24-ciudad-de-mexico-venta-2022-07-20.csv')

In [78]:
df.head()

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),estacionamientos,toilets,age,Características generales,Servicios,Amenidades,Exteriores,geolocation
0,Departamento en Venta en Roma Norte,"Roma, Cuauhtémoc",Hermosos departamentos desde 75 mts2 y hasta 1...,/propiedades/departamento-en-venta-en-roma-nor...,"MN 4,319,200",venta,2.0,2.0,75.0,NaN,1.0,NaN,0.0,"{""56"":{""featureId"":""56"",""label"":""Cuartos de se...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""140"":{""featureId"":""140"",""label"":""Salón de us...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.410924700000000,..."
1,Excelente Departamento a La Venta en Reforma L...,"Bosques de las Lomas, Cuajimalpa de Morelos",Excelente departamento de 420 metros a la vent...,/propiedades/excelente-departamento-a-la-venta...,"MN 22,400,000",venta,4.0,4.0,420.0,420.0,4.0,1.0,NaN,"{""132"":{""featureId"":""132"",""label"":""Jacuzzi"",""m...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""9"":{""featureId"":""9"",""label"":""Bodega(s)"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.390416200000000,..."
2,Pent House con Roof Privado a un Precio Excelente,"Nápoles, Benito Juárez",Edificio de solo 9 departamentos en una de las...,/propiedades/pent-house-con-roof-privado-a-un-...,"MN 6,125,000",venta,2.0,NaN,136.0,66.0,2.0,NaN,0.0,"{""177"":{""featureId"":""177"",""label"":""Mascotas"",""...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""63"":{""featureId"":""63"",""label"":""Closets"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.388046900000000,..."
3,"Departamento Venta, Colonia Escandón","Escandón I Sección, Miguel Hidalgo",Departamento acogedor en primer piso de 3 reca...,/propiedades/departamento-venta-colonia-escand...,"MN 2,890,000",venta,3.0,NaN,70.0,70.0,1.0,NaN,NaN,"{""12"":{""featureId"":""12"",""label"":""Caseta de gua...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""18"":{""featureId"":""18"",""label"":""Estudio"",""mea...",NaN,"{""geolocation"":{""latitude"":19.403487800000000,..."
4,Se Vende Departamento en Condesa,"Condesa, Cuauhtémoc","Único en sus acabados, excelente oportunidad d...",/propiedades/se-vende-departamento-en-condesa-...,"MN 10,500,000",venta,2.0,2.0,128.0,133.0,2.0,NaN,NaN,"{""201"":{""featureId"":""201"",""label"":""Estado de c...",NaN,NaN,NaN,"{""geolocation"":{""latitude"":19.415425524353790,..."

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19639 entries, 0 to 19638
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       19639 non-null  object
 1   location                   19639 non-null  object
 2   description                19639 non-null  object
 3   link                       19639 non-null  object
 4   price                      19639 non-null  object
 5   operation                  19639 non-null  object
 6   rooms                      19387 non-null  float64
 7   bathrooms                  15584 non-null  float64
 8   construction (m2)          19488 non-null  float64
 9   terrain (m2)               16071 non-null  float64
 10  estacionamientos           18276 non-null  float64
 11  toilets                    6360 non-null   float64
 12  age                        8729 non-null   float64
 13  Características generales  15056 non-null  object
 14  Servicios                  10509 non-null  object
 15  Amenidades                 11262 non-null  object
 16  Exteriores                 5595 non-null   object
 17  geolocation                19639 non-null  object
dtypes: float64(7), object(11)
memory usage: 2.7+ MB

In [80]:
#remplace the NaN of terrain with the corresponding construction and viss
df['terrain (m2)'].fillna(df['construction (m2)'] , inplace=True)
df['construction (m2)'].fillna(df['terrain (m2)'] , inplace=True)

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19639 entries, 0 to 19638
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       19639 non-null  object
 1   location                   19639 non-null  object
 2   description                19639 non-null  object
 3   link                       19639 non-null  object
 4   price                      19639 non-null  object
 5   operation                  19639 non-null  object
 6   rooms                      19387 non-null  float64
 7   bathrooms                  15584 non-null  float64
 8   construction (m2)          19586 non-null  float64
 9   terrain (m2)               19586 non-null  float64
 10  estacionamientos           18276 non-null  float64
 11  toilets                    6360 non-null   float64
 12  age                        8729 non-null   float64
 13  Características generales  15056 non-null  object
 14  Servicios                  10509 non-null  object
 15  Amenidades                 11262 non-null  object
 16  Exteriores                 5595 non-null   object
 17  geolocation                19639 non-null  object
dtypes: float64(7), object(11)
memory usage: 2.7+ MB

In [82]:
#add the divisa column
df['divisa'] = df['price'].apply(lambda x: x.split(' ')[0])
df['divisa'] = df['divisa'].apply(lambda x: 1 if 'MN' in x else 0)

In [83]:
#remove the , MN and USD from price
df['price'] = df['price'].apply(lambda x: x.split(' ')[1])
df['price'] = df['price'].apply(lambda x: x.replace(',',''))

In [84]:
df.head()

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),estacionamientos,toilets,age,Características generales,Servicios,Amenidades,Exteriores,geolocation,divisa
0,Departamento en Venta en Roma Norte,"Roma, Cuauhtémoc",Hermosos departamentos desde 75 mts2 y hasta 1...,/propiedades/departamento-en-venta-en-roma-nor...,4319200,venta,2.0,2.0,75.0,75.0,1.0,NaN,0.0,"{""56"":{""featureId"":""56"",""label"":""Cuartos de se...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""140"":{""featureId"":""140"",""label"":""Salón de us...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.410924700000000,...",1
1,Excelente Departamento a La Venta en Reforma L...,"Bosques de las Lomas, Cuajimalpa de Morelos",Excelente departamento de 420 metros a la vent...,/propiedades/excelente-departamento-a-la-venta...,22400000,venta,4.0,4.0,420.0,420.0,4.0,1.0,NaN,"{""132"":{""featureId"":""132"",""label"":""Jacuzzi"",""m...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""9"":{""featureId"":""9"",""label"":""Bodega(s)"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.390416200000000,...",1
2,Pent House con Roof Privado a un Precio Excelente,"Nápoles, Benito Juárez",Edificio de solo 9 departamentos en una de las...,/propiedades/pent-house-con-roof-privado-a-un-...,6125000,venta,2.0,NaN,136.0,66.0,2.0,NaN,0.0,"{""177"":{""featureId"":""177"",""label"":""Mascotas"",""...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""63"":{""featureId"":""63"",""label"":""Closets"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.388046900000000,...",1
3,"Departamento Venta, Colonia Escandón","Escandón I Sección, Miguel Hidalgo",Departamento acogedor en primer piso de 3 reca...,/propiedades/departamento-venta-colonia-escand...,2890000,venta,3.0,NaN,70.0,70.0,1.0,NaN,NaN,"{""12"":{""featureId"":""12"",""label"":""Caseta de gua...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""18"":{""featureId"":""18"",""label"":""Estudio"",""mea...",NaN,"{""geolocation"":{""latitude"":19.403487800000000,...",1
4,Se Vende Departamento en Condesa,"Condesa, Cuauhtémoc","Único en sus acabados, excelente oportunidad d...",/propiedades/se-vende-departamento-en-condesa-...,10500000,venta,2.0,2.0,128.0,133.0,2.0,NaN,NaN,"{""201"":{""featureId"":""201"",""label"":""Estado de c...",NaN,NaN,NaN,"{""geolocation"":{""latitude"":19.415425524353790,...",1

In [85]:
#! pip install CurrencyConverter

In [86]:
from currency_converter import CurrencyConverter
con = CurrencyConverter()#decimal=True)

In [87]:
con.convert(1, 'USD', 'MXN')

20.44171355246274

In [88]:
#converting USD to MN and then in Millons of Pesos
#N = df['divisa'].isin([0,2])
def usd_to_mx(row):
    if row['divisa']==0:
        price_in_mxn = int(con.convert(row['price'], 'USD', 'MXN'))
        return price_in_mxn
    else:
        return row['price']

df['price'] = df.apply(lambda row: usd_to_mx(row), axis=1)

In [89]:
df[df.divisa == 0].head()

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),estacionamientos,toilets,age,Características generales,Servicios,Amenidades,Exteriores,geolocation,divisa
7,Pent House Nuevo a La Venta en El Corazón de P...,"Polanco, Miguel Hidalgo",Increíbles Pent Houses para estrenar a la Vent...,/propiedades/pent-house-nuevo-a-la-venta-en-el...,32808950,venta,3.0,3.0,277.0,277.0,2.0,1.0,0.0,"{""8"":{""featureId"":""8"",""label"":""Elevador(es)"",""...",NaN,NaN,NaN,"{""geolocation"":{""latitude"":19.433124200000001,...",0
16,Increible Departamento en Venta con Terraza en...,"Polanco, Miguel Hidalgo",Hermoso departamento A la venta con vista verd...,/propiedades/increible-departamento-en-venta-c...,30662570,venta,3.0,3.0,320.0,320.0,6.0,1.0,NaN,"{""56"":{""featureId"":""56"",""label"":""Cuartos de se...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""9"":{""featureId"":""9"",""label"":""Bodega(s)"",""mea...",NaN,"{""geolocation"":{""latitude"":19.434186600000000,...",0
19,Departamento en Venta en Polanco I Secc 3 Recá...,"Polanco, Miguel Hidalgo",Este amplio departamento se encuentra ubicado ...,/propiedades/departamento-en-venta-en-polanco-...,14902009,venta,3.0,3.0,250.0,250.0,2.0,NaN,0.0,"{""198"":{""featureId"":""198"",""label"":""Acceso disc...",NaN,"{""197"":{""featureId"":""197"",""label"":""Cuarto de T...",NaN,"{""geolocation"":{""latitude"":19.434310700000001,...",0
21,El PH Más Exclusivo de Polanco en Venta,"Polanco IV Sección, Miguel Hidalgo","Ph ubicado en la calle de galileo, en una de l...",/propiedades/el-ph-mas-exclusivo-de-polanco-en...,35772998,venta,4.0,5.0,465.0,465.0,3.0,1.0,NaN,"{""56"":{""featureId"":""56"",""label"":""Cuartos de se...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""9"":{""featureId"":""9"",""label"":""Bodega(s)"",""mea...",NaN,"{""geolocation"":{""latitude"":19.433587100000000,...",0
33,Baja Precio! Privada del Bosque Departamento e...,"Bosques de las Lomas, Cuajimalpa de Morelos","¡oportunidad baja precio de venta de $780, 000...",/propiedades/baja-precio!-privada-del-bosque-d...,14513616,venta,3.0,3.0,350.0,350.0,4.0,1.0,NaN,"{""201"":{""featureId"":""201"",""label"":""Estado de c...","{""21"":{""featureId"":""21"",""label"":""Gimnasio"",""me...","{""9"":{""featureId"":""9"",""label"":""Bodega(s)"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.393961570100000,...",0

In [90]:
#add delegacion
df['delegacion'] = df['location'].apply(lambda x: x.split(',')[-1][1:])
#add colonia
df['colonia'] = df['location'].apply(lambda x: x.split(',')[-2])

In [91]:
df['delegacion'].value_counts()

Benito Juárez             4964
Miguel Hidalgo            4763
Cuauhtémoc                2562
Cuajimalpa de Morelos     2540
Alvaro Obregón            2071
Coyoacán                   719
Tlalpan                    628
Azcapotzalco               339
Gustavo A. Madero          217
Venustiano Carranza        188
Iztapalapa                 181
Iztacalco                  158
Ciudad de México           148
La Magdalena Contreras      97
Xochimilco                  37
Tláhuac                     20
Lomas de Plateros            4
otra                         2
Contadero                    1
Name: delegacion, dtype: int64

In [92]:
df['delegacion'] = df['delegacion'].apply(lambda x: x.replace(' ', '_'))
df['delegacion'] = df['delegacion'].apply(lambda x: x.lower() )

In [93]:
df['colonia'] = df['colonia'].apply(lambda x: x.replace(' ', '_'))
df['colonia'] = df['colonia'].apply(lambda x: x.lower() )

In [94]:
df['delegacion'].value_counts()

benito_juárez             4964
miguel_hidalgo            4763
cuauhtémoc                2562
cuajimalpa_de_morelos     2540
alvaro_obregón            2071
coyoacán                   719
tlalpan                    628
azcapotzalco               339
gustavo_a._madero          217
venustiano_carranza        188
iztapalapa                 181
iztacalco                  158
ciudad_de_méxico           148
la_magdalena_contreras      97
xochimilco                  37
tláhuac                     20
lomas_de_plateros            4
otra                         2
contadero                    1
Name: delegacion, dtype: int64

In [95]:
df['colonia'].nunique()

696

In [123]:
df.groupby("delegacion")['bathrooms'].mean()

delegacion
alvaro_obregón            2.389937
azcapotzalco              2.044025
benito_juárez             2.142445
ciudad_de_méxico          2.333333
contadero                 2.000000
coyoacán                  2.204724
cuajimalpa_de_morelos     2.769705
cuauhtémoc                2.115406
gustavo_a._madero         2.214286
iztacalco                 2.037037
iztapalapa                2.045455
la_magdalena_contreras    2.218391
lomas_de_plateros         2.000000
miguel_hidalgo            2.492880
otra                      2.500000
tlalpan                   2.495968
tláhuac                        NaN
venustiano_carranza       2.022727
xochimilco                2.000000
Name: bathrooms, dtype: float64

In [140]:
null_baths = list(df.groupby("delegacion")['bathrooms'].mean()[
    df.groupby("delegacion")['bathrooms'].mean().isnull() ].index)

In [121]:
# Vamos a sustituir los valores nulos de rooms with the mean of rooms in that neighbhour
df['rooms'] = df['rooms'].fillna( df.groupby("delegacion")['rooms'].transform('mean').astype(int))

In [146]:
def fill_especial_nulls(row):
    if row['delegacion'] in null_baths:
        return row['rooms']
    else: 
        return row['bathrooms']

In [147]:
df['bathrooms'] = df.apply(lambda row: fill_especial_nulls(row), axis=1)

In [149]:
# Vamos a sustituir los valores nulos de bathrooms with the mean of rooms in that neighbhour
df['bathrooms'] = df['bathrooms'].fillna( df.groupby("delegacion")['bathrooms'].transform('mean').astype(int))

In [151]:
df.head()

,name,location,description,link,price,operation,rooms,bathrooms,construction (m2),terrain (m2),...,toilets,age,Características generales,Servicios,Amenidades,Exteriores,geolocation,divisa,delegacion,colonia
0,Departamento en Venta en Roma Norte,"Roma, Cuauhtémoc",Hermosos departamentos desde 75 mts2 y hasta 1...,/propiedades/departamento-en-venta-en-roma-nor...,4319200,venta,2.0,2.0,75.0,75.0,...,NaN,0.0,"{""56"":{""featureId"":""56"",""label"":""Cuartos de se...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""140"":{""featureId"":""140"",""label"":""Salón de us...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.410924700000000,...",1,cuauhtémoc,roma
1,Excelente Departamento a La Venta en Reforma L...,"Bosques de las Lomas, Cuajimalpa de Morelos",Excelente departamento de 420 metros a la vent...,/propiedades/excelente-departamento-a-la-venta...,22400000,venta,4.0,4.0,420.0,420.0,...,1.0,NaN,"{""132"":{""featureId"":""132"",""label"":""Jacuzzi"",""m...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""9"":{""featureId"":""9"",""label"":""Bodega(s)"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.390416200000000,...",1,cuajimalpa_de_morelos,bosques_de_las_lomas
2,Pent House con Roof Privado a un Precio Excelente,"Nápoles, Benito Juárez",Edificio de solo 9 departamentos en una de las...,/propiedades/pent-house-con-roof-privado-a-un-...,6125000,venta,2.0,2.0,136.0,66.0,...,NaN,0.0,"{""177"":{""featureId"":""177"",""label"":""Mascotas"",""...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""63"":{""featureId"":""63"",""label"":""Closets"",""mea...","{""5"":{""featureId"":""5"",""label"":""Asador"",""measur...","{""geolocation"":{""latitude"":19.388046900000000,...",1,benito_juárez,nápoles
3,"Departamento Venta, Colonia Escandón","Escandón I Sección, Miguel Hidalgo",Departamento acogedor en primer piso de 3 reca...,/propiedades/departamento-venta-colonia-escand...,2890000,venta,3.0,2.0,70.0,70.0,...,NaN,NaN,"{""12"":{""featureId"":""12"",""label"":""Caseta de gua...","{""45"":{""featureId"":""45"",""label"":""Seguridad pri...","{""18"":{""featureId"":""18"",""label"":""Estudio"",""mea...",NaN,"{""geolocation"":{""latitude"":19.403487800000000,...",1,miguel_hidalgo,escandón_i_sección
4,Se Vende Departamento en Condesa,"Condesa, Cuauhtémoc","Único en sus acabados, excelente oportunidad d...",/propiedades/se-vende-departamento-en-condesa-...,10500000,venta,2.0,2.0,128.0,133.0,...,NaN,NaN,"{""201"":{""featureId"":""201"",""label"":""Estado de c...",NaN,NaN,NaN,"{""geolocation"":{""latitude"":19.415425524353790,...",1,cuauhtémoc,condesa

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19639 entries, 0 to 19638
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       19639 non-null  object
 1   location                   19639 non-null  object
 2   description                19639 non-null  object
 3   link                       19639 non-null  object
 4   price                      19639 non-null  object
 5   operation                  19639 non-null  object
 6   rooms                      19639 non-null  float64
 7   bathrooms                  19639 non-null  float64
 8   construction (m2)          19586 non-null  float64
 9   terrain (m2)               19586 non-null  float64
 10  estacionamientos           18276 non-null  float64
 11  toilets                    6360 non-null   float64
 12  age                        8729 non-null   float64
 13  Características generales  15056 non-null  object
 14  Servicios                  10509 non-null  object
 15  Amenidades                 11262 non-null  object
 16  Exteriores                 5595 non-null   object
 17  geolocation                19639 non-null  object
 18  divisa                     19639 non-null  int64
 19  delegacion                 19639 non-null  object
 20  colonia                    19639 non-null  object
dtypes: float64(7), int64(1), object(13)
memory usage: 3.1+ MB

In [165]:
# Lets do the same for the construction and terrain extention but this time calculating the avg price per
# square meter and dividing it by its price to obtain the aproximate contruction dimentions. 
df['price'] = df['price'].astype(float)

In [166]:
df['price_per_meter']=df['price'].astype(int)/df['construction (m2)']

In [169]:
df['construction (m2)'] = df['construction (m2)'].fillna( 
    df['price'] / df.groupby("delegacion")['price_per_meter'].transform('mean') )

In [171]:
df['terrain (m2)'] = df['terrain (m2)'].fillna(df['construction (m2)'])

In [191]:
df['estacionamientos'] = df['estacionamientos'].fillna(0)

In [197]:
df['bathrooms'] = np.where(df['toilets']==1, df['bathrooms'] + 0.5, df['bathrooms'] )

In [200]:
df['toilets'] = df['toilets'].fillna(0)

In [206]:
df = df.drop(columns=['age'])

In [209]:
df['id'] = df.index

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19639 entries, 0 to 19638
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       19639 non-null  object
 1   location                   19639 non-null  object
 2   description                19639 non-null  object
 3   link                       19639 non-null  object
 4   price                      19639 non-null  float64
 5   operation                  19639 non-null  object
 6   rooms                      19639 non-null  float64
 7   bathrooms                  19639 non-null  float64
 8   construction (m2)          19639 non-null  float64
 9   terrain (m2)               19639 non-null  float64
 10  estacionamientos           19639 non-null  float64
 11  toilets                    19639 non-null  float64
 12  Características generales  15056 non-null  object
 13  Servicios                  10509 non-null  object
 14  Amenidades                 11262 non-null  object
 15  Exteriores                 5595 non-null   object
 16  geolocation                19639 non-null  object
 17  divisa                     19639 non-null  int64
 18  delegacion                 19639 non-null  object
 19  colonia                    19639 non-null  object
 20  price_per_meter            19586 non-null  float64
 21  id                         19639 non-null  int64
dtypes: float64(8), int64(2), object(12)
memory usage: 3.3+ MB

In [219]:
sample = np.random.choice(df.id.unique(),1)

In [223]:
dic = df[df.id.isin(sample)]['Características generales'].values[0][0:-1]

In [234]:
aux = df[df.id.isin(sample)]

In [226]:
dic

'{"198":{"featureId":"198","label":"Acceso discapacitados","measure":null,"value":null,"icon":null},"12":{"featureId":"12","label":"Caseta de guardia","measure":null,"value":null,"icon":null},"232":{"featureId":"232","label":"Ubicación","measure":null,"value":"Frente","icon":null},"201":{"featureId":"201","label":"Estado de conservación","measure":null,"value":"Excelente","icon":null},"225":{"featureId":"225","label":"Número de departamentos","measure":null,"value":"32","icon":null},"149":{"featureId":"149","label":"Escuelas Cercanas","measure":null,"value":null,"icon":null},"8":{"featureId":"8","label":"Elevador(es)","measure":null,"value":"1","icon":null},"207":{"featureId":"207","label":"Piso en el que se encuentra","measure":null,"value":"1","icon":null},"196":{"featureId":"196","label":"Cocina integral","measure":null,"value":null,"icon":null}}'

In [228]:
import json
d = json.loads(dic)

In [239]:
for key in d.keys():
    amenidad = d[key]['label'].replace(" ", "_").lower()
    valor = d[key]['value'] if d[key]['value'] else 1
    aux[amenidad] = valor
    #print(amenidad, valor)

/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor
/var/folders/t2/7sjs9b8s6nb_f3xcwzlhtxcr0000gn/T/ipykernel_49086/4161528149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux[amenidad] = valor

In [279]:
def parse_general_caracteristis(row):
    dic = row['Características generales'][0:-1]
    #print(dic)
    try:
        dic = json.loads(dic)
    except ValueError:
        pass
    try:
        for key in dic.keys():
            amenidad = dic[key]['label'].replace(" ", "_").lower()
            valor = dic[key]['value'] if dic[key]['value'] else 1
            row[amenidad] = valor
    except AttributeError:
        pass

In [281]:
aux = df[df['Características generales'].notnull()].apply(lambda row: parse_general_caracteristis(row), axis=1)